/*Main Typography*/

$montserrat: 'Montserrat', sans-serif;


/*Font Weight*/
    $light: 300;
    $regular: 400;
    $bold: 700;
    $extra-bold: 800;

/*Font Size*/
    $extra-large: 7rem;
    $large: 5rem;
    $medium: 3rem;
    $small: 2rem;
    $medium-small: 1.5rem;
    $extra-small: 1rem;
    $xx-small: .9rem;